{% extends 'base.html.twig' %}

{% block title %}Login - Neoccur{% endblock %}

{% block navClasses %}NavigationBar{% endblock %}

{% block bodyAttributes %}class="sign-body"{% endblock %}

{% block body %}
    <section>
      <div class="reg-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5 sign-form-body">
                <div class="card-body text-white">
                  <h5 class="card-title text-center">Log In</h5>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        {% endif %}


                    
                        <div class="form-label-group">
                            <label for="inputUsername" class="sr-only">Username</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                        #}
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>

                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
