{% extends 'base_home.html.twig' %}

{% block title %}Neoccur / signup{% endblock %}

{% block bodyAttributes %}class="sign-body"{% endblock %}

{% block navClasses %}NavigationBar{% endblock %}

{% block body %}

    <section>
      <div class="reg-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5 sign-form-body">
                <div class="card-body text-white">
                  <h5 class="card-title text-center">Sign up</h5>

                  {{ form_start(form) }}

                  <form class="form-signin">
                    

                    <div class="form-label-group">
                      <!--{{ form_widget(form.userName, {'attr' : {'name': 'username', 'id': 'inputUser', 'class': 'form-control', 'placeholder': 'Username', 'required': 'true', 'autofocus': 'true'}}) }}-->
                      <input name="username" type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus />
                      <label for="inputUser">Username</label>
                      
                    </div>
                    

                    <div class="form-label-group">
                      {{ form_widget(form.userEmail, {'attr' : {'name': 'email', 'id': 'inputEmail', 'class': 'form-control', 'placeholder': 'Email adress', 'required': 'true', 'enabled': 'true'}}) }}
                      <!--<input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required />-->
                      <label for="inputEmail">Email address</label>
                    </div>

                    <div class="form-label-group">
                      {{ form_widget(form.userKey) }}
                      <!--<input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required />-->
                      <label for="inputPassword">Password</label>
                    </div>


                    <div class="form-label-group">
                      {{ form_widget(form.repeatKey) }}
                      <!--<input type="password" id="inputPassword-repeat" class="form-control" placeholder="Repeat password" required />-->
                      <label for="inputPassword-repeat">Repeat password</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" required />
                      <label class="custom-control-label" for="customCheck1">By signing up i agree to the <a href="#">Terms of service</a> and <a href="">privacy policy</a> for Neoccur</label>
                    </div>
                    
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
                    <button class="btn btn-lg btn-google btn-block text-uppercase text-white" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                  
                  </form>

                  {{ form_end(form) }}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}